@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<p>
    @Html.ActionLink("Create ULB", "CreateULB", "ULB")
</p>
<form action="/ULB/GetULBs" method="post">
    <select name="server">
        <option value="local">Local</option>
        <option value="253">253</option>
        <option value="43">43</option>
    </select>
    <input type="submit" value="Submit" />
</form>
</html>