
@model AdvanceULB_CMS.Models.PropertyCounts

<form asp-action="Edit">
    <input type="hidden" asp-for="appId" />
    <input type="hidden" asp-for="server" />
    <div class="form-group">
        <label asp-for="apiHit"></label>
        <input asp-for="apiHit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ulbProperty"></label>
        <input asp-for="ulbProperty" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="addUlbProperty"></label>
        <input asp-for="addUlbProperty" class="form-control" />
    </div>
    <!-- other input fields -->
    <button type="submit" class="btn btn-primary">Save</button>
</form>